

body {
    background: #f9e1d4;
    background: linear-gradient(315deg, #f9c6b0, #f5a8eb);
   
}

.header h1 {
    font-family: "Pacifico", cursive;

}
.fas, .fa-solid{
    background-color: #f9a3b6;
}


.card{
    transition:transform 0.3s, box-shadow 0.3s;
    transform: translateY(12px);
}

.card:hover{
    transform:translateY(0px);
    box-shadow: 10px 15px rgb(249, 150, 150);
}

.main-header{
    color:rgb(252, 57, 57);
}

.sub-header{
    color:rgb(186, 102, 102);
}
